.trial-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100vh;
    /* Adjust as needed */

    background-image: url('../../images/signup-bg.jpg');
    /* Specify the path to your background image */
    background-size: cover;
    /* Cover the entire container */
    background-position: center;
}

.trial-container h1 {
    padding: 30px;
}

.trial-content {
    text-align: center;
    width: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px #101F4D;

    border-radius: 10px;
    /* Add border radius */
}

.trial-info {
    margin-top: 20px;
}



.trial-info button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1E357C;
    /* Add your desired button background color */
    color: #fff;
    /* Add your desired button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.trial-info button:hover {
    background-color: #101F4D;
    color: #fff;
}

.select-sub-btn {

    padding: 20px 20px;
    font-size: 16px;
    background-color: #1E357C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.select-sub-btn:hover {
    background-color: #101F4D;
    color: #fff;
}