/* Header.css */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
}

.logo {
  display: flex;  /* Add this line */
  align-items: center;  /* Add this line */
}

.logo img {
  max-height: 100px;
}

nav {
  display: flex;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  position: relative;
  font-size: 18px;
}

.nav-link::after {
  content: '';
  width: 0%;
  height: 3px;
  background: #1E357C;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

a:hover::after {
  width: 100%;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
  .header-container {
    align-items: flex-start;
  }

  .logo img {
    max-height: 60px; /* Adjust as needed */
  }

  nav {
    margin-top: 10px; /* Adjust as needed */
    width: 100%;  /* Add this line */
  }

  ul {
    flex-direction: row;
    gap: 10px;
    width: 100%;  /* Add this line */
    justify-content: flex-end; /* Align ul to the right corner */
  }
}

