/* Footer.css */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
}
  
  .center-section {
    width: 100%; /* Make the center section take up the full width */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Corrected class name here */
  .social-icons {
    margin-top: 30px;
  }
  
  .social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
  }
  
  .social-icons a:hover {
    color: #1E357C;
    transform: translateY(-6px);
  }
  