.login-container {
    display: flex;
    /* Change to flex-column */
    flex-direction: column;
    /* Ensure children stack vertically */
    align-items: center;
    height: 100vh;
}

form {
    width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4BB3B1;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #199592;
}

.signup-link {
    color: #0870b1;
    font-weight: normal;
}